* {
    color: #465775;
    font-family: "Roboto", sans-serif;
}

body {
    background: #fff;
}

a {
    text-decoration: none !important;
    font-weight: bold;
    font-size: 1.1rem; 
}

.profile-col {
    border: 2px solid #465775;
    padding: 15px;
    margin: 10px;
    background-color: #465775;
    color: #fff;
    font-weight: bold;
    border-radius: 24px;
}

/* Custom Colors */
.yinmn-blue {
    color: #465775;
}

/* Custom button color */
.btn-custom {
    background-color: #59C9A5 !important;
    border-color: #465775 !important;
    color: #465775 !important;
    font-weight: 600 !important;
}

.navbar {
    background-image: url("https://cdn.pixabay.com/photo/2019/04/02/04/32/masala-4096891_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh; /
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
}

.navbar a {
    font-size: 150%;
    text-decoration: none; 
    font-weight: bold; 
    align-items: flex-end;
}

.navbar .navbar-header {
    margin-bottom: 0;
}


ul {
    list-style: none;
}