{% extends 'base.html' %}

{% block title %}Let's find dinner!{% endblock %}

{% block content %}
  <div class="home-hero text-center" style="background-color: rgb(187, 238, 187); color: rgb(18, 83, 18); padding: 50px;">
    <h1>Looking for Dinner Inspiration?</h1>
    <div>
      <h4>New to Recipeas?</h4>
      <p>Sign up now to start your own to-make list!</p>
      <a href="/signup" class="btn btn-primary">Sign up</a>
    </div>

    <div>
      <h4>Returning user?</h4>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>

  <div id="recipe-container">
    
  </div>
{% endblock %}