{% extends 'base.html' %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
<div class="container">
    <h1>Recipe Details</h1>

    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
    <h2>{{ recipe.title }}</h2>

    <h3>Like this recipe? Add it to your favorites!</h3>
    <button id="favorite-button" onclick="toggleFavorite(
        {{ session['user_id'] }}, {{ recipe.id }})">
    <i id="star-icon" class="far fa-star"></i>
    </button>

    <p>Ready in {{ recipe.readyInMinutes }} minutes</p>
    <p>Servings: {{ recipe.servings }}</p>
    <p>{{ recipe.summary | safe }}</p>

    <h3>Instructions:</h3>
    <ol>
        {% for step in recipe.instructions %}
            <li>{{ step | safe}}</li>
        {% endfor %}
    </ol>
</div>

<script src="/static/script.js"></script>
{% endblock %}
